<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-md-9">
          <div class="media">
            <%= link_to cooking_recipe_path(cooking_recipe), class:'media-left' do %>
              <%= image_tag(cooking_recipe.images.present? ? cooking_recipe.images.first.file_url(:thumb) : 'default.png', size:'64x64', class:'media-object') %>
            <% end %>
            <div class="media-body">
              <h4 class="media-heading"><%= link_to cooking_recipe_path(cooking_recipe) do %><%= cooking_recipe.name %><% end %></h4>
              <%= cooking_recipe.description %>
              <div class="media">
                <span class="label label-default" data-toggle="tooltip" data-placement="top" title="Created by Koen on <%= format_datetime(cooking_recipe.created_at) %><%= cooking_recipe.created_at != cooking_recipe.updated_at ? ", last update on #{format_datetime(cooking_recipe.updated_at)}" : "" %>"><%= fa_icon 'child' %> Koen</span>
                <span class="label label-danger" data-toggle="tooltip" data-placement="top" title="Serves 4 persons"><%= fa_icon 'user-times' %> 4</span>
                <span class="label label-primary" data-toggle="tooltip" data-placement="top" title="Takes 30 minutes to prepare"><%= fa_icon 'clock-o' %> 30 mins</span>
                <span class="label label-warning" data-toggle="tooltip" data-placement="top" title="Requires <%= cooking_recipe.necessities.size %> ingredients"><%= fa_icon 'dropbox' %> <%= cooking_recipe.necessities.size %></span>
                <span class="label label-info" data-toggle="tooltip" data-placement="top" title="Requires <%= cooking_recipe.directions.size %> steps to complete"><%= fa_icon 'list-alt' %> <%= cooking_recipe.directions.size %></span>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-2">
          <%= link_to edit_cooking_recipe_path(cooking_recipe), class:'btn btn-default btn-lg btn-block' do %>
            <%= fa_icon 'edit' %>
            Edit    
          <% end %>
        </div>
        <div class="col-md-1">
          <%= link_to cooking_recipe_path(cooking_recipe), method: :delete, class:'btn btn-default btn-lg', 'data-confirm' => 'Are you sure you want to remove this recipe?' do %>
            <%= fa_icon('trash-o') %>
          <% end %>
        </div>
      </div>
    </div>    
  </div>
</div>
