<%= form_for @cooking_recipe, role: 'form' do |f| %>
  <div class="row">
    <div class="col-md-8">
      
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class:'form-control input-lg' %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, rows:2, class:'form-control' %>
      </div>
      
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h3>Images</h3>
    </div>
  </div>
  
  <div class="row">
    <%= f.fields_for :images do |iform| %>
      <%= render 'image_fields', f:iform %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :file %>
        <%= f.file_field :file, accept:'image/png,image/gif,image/jpg,image/jpeg', name:'cooking_recipe[images_attributes][9999][file]' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h3>Ingredients</h3>
    </div>
  </div>

  <%= f.fields_for :necessities do |nf| %>
    <%= render 'necessity_fields', f: nf %>
  <% end %>

  <div class="row">
    <div class="col-md-2">
      <%= link_to add_necessity_fields_cooking_recipes_path, remote:true, id:'add_necessity', class:'btn btn-default' do %>
        <%= fa_icon('plus') %> Add ingredient
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h3>Directions</h3>
    </div>
  </div>

  <div id="sortable-items">
    <%= f.fields_for :directions do |df| %>
      <%= render 'direction_fields', f: df %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= link_to add_direction_fields_cooking_recipes_path, remote:true, id:'add_direction', class:'btn btn-default' do %>
        <%= fa_icon('plus') %> Add direction
      <% end %>
    </div>
  </div>

  <%= f.submit 'Save', class:'btn btn-default' %>

<% end %>