<div class="row">
  <div class="col-md-1">
    <div class="form-group">
      <%= f.label :amount, class:'sr-only' %>
      <%= f.number_field :amount, class:'form-control' %>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <%= f.label :unit_name, class:'sr-only' %>
      <%= f.text_field :unit_name, class:'form-control', placeholder:'Unit', data: {autocomplete_source: units_path} %>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <%= f.label :ingredient_name, class:'sr-only' %>
      <%= f.text_field :ingredient_name, class:'form-control', placeholder:'Ingredient', data: {autocomplete_source: ingredients_path} %>
    </div>
  </div>
  <div class="col-md-1">
    <%= f.hidden_field :_destroy %>
    <%= link_to '#', class:'btn btn-default destroy_fields' do %>
      <%= fa_icon('trash-o') %>
    <% end %>
  </div>
</div>