<div class="row vertical-align">
  <div class="col-sm-10">
    <div class="page-header">
      <h1><%= @cooking_recipe.name %></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <div id="cooking-recipe-images-carousel" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <% if @cooking_recipe.images.size > 1 %>
        <ol class="carousel-indicators">
          <% @cooking_recipe.images.each_with_index do |image, index| %>
            <li data-target="#cooking-recipe-images-carousel" data-slide-to="<%= index %>" <%= index == 0 ? raw('class="active"') : '' %>></li>
          <% end %>
        </ol>
      <% end %>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <% @cooking_recipe.images.each_with_index do |image, index| %>
          <div class="item <%= index == 0 ? 'active' : '' %>">
            <%= image_tag image.file.slider.url %>
          </div>
        <% end %>
      </div>
    </div>


  </div>
  <div class="col-md-7">
    <h3>Ingredients</h3>

    <ul>
      <% @cooking_recipe.necessities.each do |necessity| %>
        <li>
          <%= necessity.amount %> <%= necessity.unit.name %> <%= necessity.ingredient.name %> 
          <% if necessity.ingredient.description %>
            <span class="ingredient_description">(<%= necessity.ingredient.description %>)</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Directions</h3>
    <ol>
      <% @cooking_recipe.directions.each do |direction| %>
        <li><%= direction.description %></li>
      <% end %>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>&nbsp;</p>
  </div>
</div>