<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-8">
        <p class="text-muted">&copy; <%= link_to 'Codefish', 'http://codefish.org', target:'_blank' %> <%= Date.today.year %></p>
      </div>
      <div class="col-xs-4">
        <!-- Language switcher -->
        <ul class="nav navbar-nav pull-right dropup">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <%= image_tag "flags/#{I18n.locale.to_s}.png" %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <% I18n.available_locales.each do |locale| %>
                <% if locale == I18n.locale %>
                  <li class="disabled"><a><%= image_tag "flags/#{locale.to_s}.png" %> - <%= t("locale.#{locale.to_s}", default:locale.to_s) %></a></li>
                <% else %>
                  <li class="<%= locale == I18n.locale ? 'disabled' : '' %>"><%= link_to url_for_locale(locale.to_s) do %><%= image_tag "flags/#{locale.to_s}.png" %> - <%= t("locale.#{locale.to_s}", default:locale.to_s) %><% end %></a></li>
                <% end %>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>