<div class="row vertical-align">
  <div class="col-sm-12">
    <div class="page-header">
      <h1>Ingredients</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 text-center">
    <%= render 'pagination' %>
  </div>
  <div class="col-sm-2 text-center">
    <%= link_to 'New Ingredient', new_ingredient_path, class: 'btn btn-success', style: 'margin: 20px 0px'  %>
  </div>
</div>

<table class="table table-hover table-responsive table-condensed">
  <thead>
    <tr>
      <th>
        <%= link_to '#', allowed_params.merge(sort:'id', dir: (@sort == 'id' && @dir == 'asc' ? 'dsc' : 'asc')) %>
        <% if @sort == 'id' && @dir == 'asc' %><span class="dropup"><span class="caret"></span></span><% end %>
        <% if @sort == 'id' && @dir == 'dsc' %><span class="caret"></span><% end %>
      </th>
      <th>
        <%= link_to 'Name', allowed_params.merge(sort:'name', dir: (@sort == 'name' && @dir == 'asc' ? 'dsc' : 'asc')) %>
        <% if @sort == 'name' && @dir == 'asc' %><span class="dropup"><span class="caret"></span></span><% end %>
        <% if @sort == 'name' && @dir == 'dsc' %><span class="caret"></span><% end %>
      </th>
      <th>
        <%= link_to 'Description', allowed_params.merge(sort:'description', dir: (@sort == 'description' && @dir == 'asc' ? 'dsc' : 'asc')) %>
        <% if @sort == 'description' && @dir == 'asc' %><span class="dropup"><span class="caret"></span></span><% end %>
        <% if @sort == 'description' && @dir == 'dsc' %><span class="caret"></span><% end %>
      </th>
      <th>
        <%= link_to '# Usages', allowed_params.merge(sort:'usages', dir: (@sort == 'usages' && @dir == 'asc' ? 'dsc' : 'asc')) %>
        <% if @sort == 'usages' && @dir == 'asc' %><span class="dropup"><span class="caret"></span></span><% end %>
        <% if @sort == 'usages' && @dir == 'dsc' %><span class="caret"></span><% end %>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.id %></td>
        <td><%= ingredient.name %></td>
        <td><%= ingredient.description ? ingredient.description.first(100) : nil %></td>
        <td><%= ingredient.necessities.size > 0 ? ingredient.necessities.size : nil %></td>
        <td align="right">
          <%= link_to 'Edit', edit_ingredient_path(ingredient), class:'btn btn-primary' %>
          <% if ingredient.necessities.size == 0 %>
            <%= link_to 'Delete', ingredient_path(ingredient), method: :delete, class:'btn btn-danger' %>
          <% else %>
            <%= link_to 'Delete', '', class:'btn btn-danger disabled' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-sm-10 text-center">
    <%= render 'pagination' %>
  </div>
</div>