<div class="row">
  <div class="col-sm-6">
    <%= render "shared/error_messages", object: @unit %>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <%= form_for @unit, role:'form' do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class:'form-control' %>
      </div>

      <%= f.submit t('.actions.save'), class:'btn btn-primary' %>
      <%= link_to t('.actions.cancel'), units_path, class:'btn btn-default' %>
    <% end %>
  </div>
</div>