<div class="row vertical-align">
  <div class="col-sm-12">
    <div class="page-header">
      <h1><%= t('.title') %></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 text-center">
    <%= render 'shared/pagination' %>
  </div>
  <div class="col-sm-2 text-center">
    <%= link_to t('.actions.new'), new_unit_path, class: 'btn btn-success', style: 'margin: 20px 0px'  %>
  </div>
</div>

<table class="table table-hover table-responsive table-condensed">
  <thead>
    <tr>
      <th>
        <%= link_to '#', allowed_params.merge(sort:'id', dir: (@sort == 'id' && @dir == 'asc' ? 'dsc' : 'asc')) %>
        <% if @sort == 'id' && @dir == 'asc' %><span class="dropup"><span class="caret"></span></span><% end %>
        <% if @sort == 'id' && @dir == 'dsc' %><span class="caret"></span><% end %>
      </th>
      <th>
        <%= link_to t('.columns.name'), allowed_params.merge(sort:'name', dir: (@sort == 'name' && @dir == 'asc' ? 'dsc' : 'asc')) %>
        <% if @sort == 'name' && @dir == 'asc' %><span class="dropup"><span class="caret"></span></span><% end %>
        <% if @sort == 'name' && @dir == 'dsc' %><span class="caret"></span><% end %>
      </th>
      <th>
        <%= link_to t('.columns.usages'), allowed_params.merge(sort:'usages', dir: (@sort == 'usages' && @dir == 'asc' ? 'dsc' : 'asc')) %>
        <% if @sort == 'usages' && @dir == 'asc' %><span class="dropup"><span class="caret"></span></span><% end %>
        <% if @sort == 'usages' && @dir == 'dsc' %><span class="caret"></span><% end %>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.id %></td>
        <td><%= unit.name %></td>
        <td><%= unit.necessities.size > 0 ? unit.necessities.size : nil %></td>
        <td align="right">
          <%= link_to t('.actions.edit'), edit_unit_path(unit), class:'btn btn-primary' %>
          <% if unit.necessities.size == 0 %>
            <%= link_to t('.actions.delete'), unit_path(unit), method: :delete, 'data-confirm' => t('.confirm.delete'), class:'btn btn-danger' %>
          <% else %>
            <%= link_to t('.actions.delete'), '', class:'btn btn-danger disabled' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-sm-10 text-center">
    <%= render 'shared/pagination' %>
  </div>
</div>